* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
:root {
    --color-carbon: #101414;
    --color-negro: #111318;
    --color-gris: #6c757d;
    --color-blanco: #d9d5bb;
    --color-rojo: #ff4655;
    --color-verde: #147253;
    --color-dorado: #937341;
    --color-marron: #31271e;
}

html {
    scroll-behavior: smooth;
}
body {
    background: var(--color-carbon) ;
    width: 100%;
}
body::-webkit-scrollbar {
    width: 20px;
    background: var(--color-negro);
}
body::-webkit-scrollbar-thumb {
    background: var(--color-dorado);
    border-radius: 2px;
}

/*! INICIO HEADER */

#header {
    position: fixed;
    display: block;
    width: 100%;
    height: 85px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 100px;
    background: var(--color-negro);
    border-top: 4px solid var(--color-dorado);
    border-bottom: 4px solid var(--color-dorado);
    z-index: 4;
    animation: slide-down 2s ease-out;
}
.logo {
    position: absolute;
    display: flex;
    margin-left: -78px;
    min-width: 175px;
    min-height: 175px;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    background: var(--color-carbon);
    border: 4px solid var(--color-dorado);
    border-top: 0px;
    border-bottom: 0px;
    z-index: 4;
}
.logo img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 175px;
    transform: rotate(21deg);
    z-index: 5;
}
.navbar {
    display: flex;
    justify-content: center;
    margin-left: 78px;
}
.navbar-list {
    display: flex;
    list-style: none;
    gap: 35px;
    margin: 0px 40px 0px 10px;
}
.navbar-list li {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 80px;
}
.navbar-list li:nth-child(4) {
    margin-left: 250px;
}
.navbar-list li a {
    text-decoration: none;
    color: var(--color-blanco);
    transition: all 0.35s ease-in-out;
}
.navbar-list li a:hover {
    color: var(--color-dorado);
}
.login {
    position: absolute;
    right: 40px;
    top: 9px;
}
.login .fa-solid {
    font-size: 25px;
    color: var(--color-blanco);
    background: var(--color-carbon);
    border: 4px solid var(--color-blanco);
    padding: 15px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.login .fa-solid:hover {
    background: var(--color-blanco);
    border: 4px solid var(--color-dorado);
    color: var(--color-dorado);
}

/*! MENU HAMBURGUESA */

.navbar label {
    position: absolute;
    left: 40px;
    top: 9px;
}
.navbar label i {
    display: none;
    font-size: 25px;
    color: var(--color-blanco);
    background: var(--color-carbon);
    border: 4px solid var(--color-blanco);
    padding: 15px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.login .fa-solid:hover {
    background: var(--color-blanco);
    border: 4px solid var(--color-dorado);
    color: var(--color-dorado);
}
#toggle-menu {
    display: none;
}

/*! FINAL HEADER */

aside {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 4;
}
.thresh-chibi {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 250px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px var(--color-blanco));
    z-index: 4;
}
.thresh-chibi:hover {
    animation: thresh-chibi 1.2s;
    transition: all 2s ease-in ;
    transition-delay: 2s;
}

/*! INICIO PORTADA */

#inicio {
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: 100vh;
    border-bottom: 3px solid var(--color-blanco);
    z-index: 1;
    scroll-margin-top: 10ex;
}
.video-inicio {
    position: absolute;
    left:0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-bottom: 3px solid var(--color-dorado);
    margin-top: 55px;
}
.imagen-fondo {
    display: none;
    position: absolute;
    margin-top: 85px;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo-inicio {
    display: flex;
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 250px;
    padding: 0px 0px 15px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(17,19,24,.85);
    border-top: 3px solid var(--color-dorado);
    border-bottom: 3px solid var(--color-dorado);
    animation: fade 1.5s ease-in;
}
.titulo-inicio h1 {
    font-size: 100px;
    font-weight: 700px;
    letter-spacing: 25px;
    color: var(--color-carbon);
    -webkit-text-stroke: 1.5px var(--color-dorado);
}
.titulo-inicio p{
    font-size: 40px;
    font-weight: 500px;
    letter-spacing: 12px;
    margin-top:30px;
    color: var(--color-blanco);
    -webkit-text-stroke: 0.8px var(--color-dorado);
}

/*! FINAL PORTADA */

/*! INICIO HISTORIA */

#historia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    width: 100%;
    position: relative;
    background: var(--color-negro);
    z-index: 3;
    scroll-margin-top: 10ex;
}
.fondo-historia {
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.titulo-contenedor {
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    background: var(--color-negro);
    border-top: 4px solid var(--color-dorado);
    border-bottom: 4px solid var(--color-dorado);
    z-index: 2;
}
.titulo-contenedor h2 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 10px;
    color: var(--color-dorado);
    -webkit-text-stroke: 1.25px var(--color-blanco);
    margin: 25px 0px;
}
.thresh-contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 350px 500px;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 150px;
    z-index: 2;
}
.contenedor-arriba {
    position: relative;
    grid-column: 1/1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(17,19,24,.85);
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-dorado);
    padding: 100px 30px 0px 30px;
}
.contenedor-imagen {
    position: absolute;
    top: -100px;
    width: 200px;
    height: 200px;
    background: var(--color-carbon);
    border-radius: 50%;
    border: 4px solid var(--color-dorado);
    overflow: hidden;
}
.contenedor-imagen img {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 3%;
    left: 3.5%;
    border-radius: 50%;
    border: 3px solid var(--color-dorado);
}
.contenedor-imagen:hover {
    scale: 1.2;
    transition: all 0.5s ease-in;
}
.contenedor-arriba h2 {
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 6px;
    color: var(--color-dorado);
    margin: 25px 0px;
}
.contenedor-arriba p {
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: var(--color-blanco);
    margin: 25px 0px;
    text-align: center;
}
.contenedor-abajo {
    grid-column: 1/1;
    grid-row: 2/3;
    background: rgba(17,19,24,.85);
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-dorado);
    padding: 25px 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.contenedor-abajo::-webkit-scrollbar{
    width: 15px;
    background: var(--color-carbon);
}
.contenedor-abajo::-webkit-scrollbar-thumb{
    background: var(--color-dorado);
    border-radius: 2px;
}
.contenedor-abajo p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-blanco);
    line-height: 40px;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin: 25px 0px;
}
.contenedor-abajo p::first-letter {
    font-size: 50px;
    color: var(--color-dorado);
    font-weight: 500;
}
.contenedor-abajo p b {
    color: var(--color-dorado);
    font-weight: 700 bold;
    font-size: 22px;
}

/*! FINAL HISTORIA */
/*! INICIO GRAFICOS */

#graficos {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
    scroll-margin-top: 10ex;
}
.graficos-contenedor-padre {
    width: 85%;
    margin: 100px auto 0px auto;
}
.graficos-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px; 
}
.graficos-contenedor .caja {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 500px;
    justify-content: center;
    align-items: center;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
}
.graficos-contenedor .caja h3{
    font-size: 30px;
    font-weight: 500;
    color: var(--color-blanco);
    letter-spacing: 2px;
    margin-top: 50px;
}
.circulo {
    position: relative;
    width: 200px;
    height: 200px;
    background: var(--color-carbon);
    border-radius: 100%;
    border: 4px solid var(--color-dorado);
}
.circulo:hover {
    scale: 1.1;
    transition: all 0.5s ease-in;
    cursor: pointer;
}
.circulo p {
    position: absolute;
    top: 42%;
    left: 30%;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-blanco);
    letter-spacing: 5px;
}

.asd-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    margin: 50px;
    flex-wrap: wrap;
}
.asd-contenedor .caja-rol {
    display: flex;
    flex-direction: row;
    padding: 50px;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
}
.rol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rol h3 {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-dorado);
    letter-spacing: 5px;
    margin: 10px;
    margin-bottom: 40px;
}
.rol img {
    width: 120px;
    margin: 10px;
}
.rol p {
    font-size: 25px;
    font-weight: 400;
    color: var(--color-blanco);
    line-height: 70px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.asd-contenedor .caja-hechizos {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 700px;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
}
.caja-hechizos h3 {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-dorado);
    letter-spacing: 5px;
    margin: 10px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}
.hechizos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hechizos img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid var(--color-dorado);
    margin-right: 20px;
}
.hechizos p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-blanco);
    line-height: 70px;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

.campeones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}
.campeones .caja {
    display: flex;
    flex-direction: row;
    gap: 30px;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px;
    padding: 50px;
}
.campeones .caja header {
    position: absolute;
    top: 50px;
    font-size: 30px;
    font-weight: 600;
    color: var(--color-dorado);
    letter-spacing: 5px;
    align-items: center;
    justify-content: center;
}
.campeones .caja-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.campeones .caja-contenedor img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid var(--color-dorado);
    cursor: pointer;
    opacity: 0.5;
}
.campeones .caja-contenedor img:hover {
    scale: 1.1;
    transition: all 0.5s ease-out;
    opacity: 1;
}
.campeones .caja-contenedor h4 {
    font-size: 22px;
    font-weight: 500;
    color: var(--color-blanco);
    letter-spacing: 2px;
    margin-top: 20px;
}
.campeones .caja-contenedor p {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-rojo);
    letter-spacing: 5px;
    margin-top: 10px;
}
.campeones .caja-contenedor p span {
    color: var(--color-verde);
}

/*! FINAL GRAFICOS */
/*! INICIO BUILD */

#build {
    justify-content: center;
    text-align: left;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    padding-bottom: 100px;
    scroll-margin-top: 10ex;
}
.build-contenedor {
    width: 80%;
    margin: 100px auto 0 auto;
}
.runas {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.principal .fondo {
    position: absolute;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
    width: 950px;
    height: 25px;
    top: 20%;
    left: 5%;
    z-index: 1;
}
.runas-contenedor {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: start;
    text-align: center;
    z-index: 2;
}
.runas-imagen {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid var(--color-dorado);
    cursor: pointer;
    background: var(--color-carbon);
}
.runas-contenedor-terciaria {
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid var(--color-dorado);
    cursor: pointer;
    background: var(--color-carbon);
    z-index: 2;
    justify-content: space-between;
}
.runas-imagen-terciarias {
    position: absolute;
    top: 25%;
    left: 22%;
    height: 40px;
    width: 40px;
    border-radius: 20%;
    cursor: pointer;
    background: var(--color-carbon);
    z-index: 2;
}
.runas-contenedor span {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-blanco);
    letter-spacing: 2px;
    line-height: 30px;
    width: 150px;
    display: block;
}
.secundaria .runas-contenedor span {
    word-break: break-all;
}
.secundaria .fondo {
    position: absolute;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
    width: 500px;
    height: 25px;
    top: 20%;
    left: 5%;
    z-index: 1;
}
.runas-caja {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 100px 0px 150px 0px;
    flex-wrap: wrap;
}
.terciarias .fondo {
    position: absolute;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
    width: 350px;
    height: 20px;
    top: 18%;
    left: 5%;
    z-index: 1;
}
.runas-terciarias {
    display: flex;
    flex-direction: column;
}
.runas-terciarias-caja {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.runas-terciarias-caja-texto {
    display: flex;
    flex-direction: column;
    width: 140px;
}
.runas-terciarias-caja-texto span {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 5px;
    color: var(--color-dorado);
    margin-bottom: 10px;
}
.runas-terciarias-caja-texto p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-blanco);
    line-height: 30px;
}
.objetos {
    display: inline-flex;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
    padding: 50px 25px 40px 25px;
    flex-wrap: wrap;
    gap: 20px;
}
#build h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--color-dorado);
    letter-spacing: 2px;
    margin: 75px 0px 50px 0px;
    text-align: left;
    width: 100%;
}
.objetos-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 20px;
}
.objeto-imagen {
    width: 70px;
    height: 70px;
    border: 4px solid var(--color-dorado);
    display: block;
    margin: 0 auto;
}
.objetos-contenedor span {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-blanco);
    letter-spacing: 1px;
    line-height: 25px;
    width: 120px;
    display: block;
    word-break: break-word;
    justify-content: start;
}
.objetos-caja {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: left;
}
.objetos-caja .caja-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}


/*! FINAL BUILD */
/*! INICIO HABILIDADES */

#habilidades {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    scroll-margin-top: 10ex;
}
.habilidades-contenedor {
    width: 80%;
    margin: 100px auto 0 auto;
}
.caja-habilidades {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-negro);
    border: 2px solid var(--color-dorado);
    padding: 50px 50px 20px 50px;
    position: relative;
}

.caja-habilidades-fila {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 25px;
    gap: 50px;
}
.imagen-habilidades img{
    width: 70px;
    height: 70px;
    border: 4px solid var(--color-dorado);
    display: block;
    margin: 0 auto;
}
.nombre-habilidades {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.nombre-habilidades h3 {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-dorado);
    letter-spacing: 5px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.nombre-habilidades p{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-blanco);
    letter-spacing: 5px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.enfriamiento-habilidades {
    display: flex;
    flex-direction: column;
    width: 79%;
}
.enfriamiento-habilidades p{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-blanco);
    letter-spacing: 5px;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding-bottom: 15px
}
.caja-habilidades hr {
    border: 2px solid var(--color-dorado);
    background: var(--color-dorado);
    height: 4px;
}
.informacion-habilidades p{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-blanco);
    letter-spacing: 2px;
    line-height: 40px;
    padding-top: 25px;
}
.informacion-habilidades p b{
    color: var(--color-dorado);
    font-weight: 600;
}
.informacion-habilidades p span{
    color: var(--color-verde);
    font-weight: 600;
}

.caja-habilidades-videos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-habilidades {
    width: 800px;
    height: 500px;
    object-fit: cover;
    border: 2px solid var(--color-dorado);
    margin: 50px;
}

/*! FINAL HABILIDADES */
/*! INICIO MONTAGE */

#montage {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    scroll-margin-top: 10ex;
}
.montage-contenedor {
    width: 70%;
    margin: 100px auto 0 auto;
}
.montage-contenedor h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--color-dorado);
    letter-spacing: 5px;
    margin: 50px 0px;
    text-align: center;
}
.montage-contenedor p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-blanco);
    letter-spacing: 2px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 50px;
}
.montage-contenedor p b {
    color: var(--color-dorado);
}
.caja-montage-videos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja-montage-videos iframe {
    width: 1400px;
    height: 790px;
    object-fit: cover;
    border: 2px solid var(--color-dorado);
}

/*! FINAL MONTAGE */
/*! INICIO SKINS */

#skins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    background: var(--color-negro);
    scroll-margin-top: 10ex;
}
.fondo-skins {
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.skins-contenedor {
    width: 70%;
    margin: 100px auto 0 auto;
    z-index: 2;
}
.slide-skins {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid var(--color-dorado);
}
.slide-skins ul {
    display: flex;
    animation: slide 30s infinite alternate ease-in-out;
    width: 1400%;
}
.slide-skins li {
    width: 100%;
    list-style: none;
}
.slide-skins img {
    width: 100%;
    height: 100%;
}

/*! FINAL SKINS */
/*! INICIO FOOTER */

    .pie-pagina {
        width: 100%;
        background: var(--color-negro);
        justify-content: space-evenly;
    }
    .pie-pagina .contenedor-1 {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 50px 50px;
        border-top: 2px solid var(--color-dorado);
        border-bottom: 2px solid var(--color-dorado);
    }
    .pie-pagina .contenedor-1 .caja figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie-pagina .contenedor-1 .caja figure img {
        width: 200px;
        transform: rotate(21deg);
    }
    .pie-pagina .contenedor-1 .caja {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .pie-pagina .contenedor-1 .caja h2 {
        color: var(--color-dorado);
        margin-bottom: 25px;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 5px;
    }
    .pie-pagina .contenedor-1 .caja p {
        color: var(--color-blanco);
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 32px;
    }
    .pie-pagina .contenedor-1 .contacto {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }
    .pie-pagina .contenedor-1 .contacto a {
        display: inline-block;
        text-decoration: none;
        width: 70px;
        height: 70px;
        line-height: 45px;
        color: var(--color-blanco);
        margin-right: 0px;
        background: var(--color-carbon);
        border: 4px solid var(--color-blanco);
        text-align: center;
        transition: all 300ms ease;
        position: relative;
    }
    .pie-pagina .contenedor-1 .contacto a:hover {
        color: var(--color-dorado);
        background: var(--color-blanco);
        border: 4px solid var(--color-dorado);
        scale: 1.2;
    }
    
    .pie-pagina .contenedor-1 .contacto a .fa-brands {
        display: flex;
        font-size: 40px;
        position: absolute;
    }
    .pie-pagina .contenedor-1 .contacto a .fa-instagram {
        top: 20%;
        left: 22%;
    }
    .pie-pagina .contenedor-1 .contacto a .fa-twitter {
        top: 20%;
        left: 22%;
    }
    .pie-pagina .contenedor-1 .contacto a .fa-facebook-f {
        top: 20%;
        left: 30%;
    }

    .pie-pagina .contenedor-2 {
        background: var(--color-carbon);
        padding: 15px 10px;
        text-align: center;
        color: var(--color-blanco);
    }
    .pie-pagina .contenedor-2 small {
        font-size: 15px;
    }
    .pie-pagina .contenedor-2 small b {
        color: var(--color-dorado);
    }

/*! FINAL FOOTER */

